@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* font-family: "Merriweather", serif; */
}
header{
    margin: 50px 300px 120px 300px;
    position: relative;
}

.Img_container{
    position: relative;
}
.Gradient{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top,transparent, black);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.Img_container img{
    width: 1312px;
    height: 600px;
    object-fit: cover;
}
.Hero_section_text_container{
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
}
.Hero_Section_Subtitle{
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    line-height: normal;
    letter-spacing: 2%;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.Hero_Section_Title{
    max-width: 632px;
    font-family: "Merriweather", serif;
    color: white;1
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: -2%;

}
main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Offer_container{
    text-align: center;
}
.Offer_container_title{
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0%;
    color: red;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.Offer_container_caption{
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0%;
    color: red;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.Offer_container_subtitle{
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0%;
    margin-bottom: 48px;
}
.Offer_container img{
    margin-bottom: 120px;
}
.artical_2_container{
    margin-bottom: 120px;
    position: relative;
}
.artical_2_img_container{
    width: 1320px;
    height: 600px;
    position: relative;
}
.artical_2_img_gradient{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-image: linear-gradient(to left,#07021100,#070211);
    position: absolute;
}
.artical_2_img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.artical_2_text_container{
    padding: 126px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
.artical_2_title{
    max-width: 642px;
    font-family: "Merriweather", serif;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}
.artical_2_description{
    max-width: 697px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 40px;
}
.artical_2_btn{
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0%;
    color: white;
    padding:12px 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid white;
}
.artical_2_btn:hover{
    background-color: #383533;
    border: 1px solid transparent;
}
.artical_3_container{
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    /* opacity: 10%; */
    background-image: linear-gradient(to top,transparent,rgba(255, 0, 0, 0.100));
    margin: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.artical_3_text_container{
    text-align: center;
}
.artical_3_text_container p{
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.artical_3_text_container span{
    color: red;
}
.artical_3_btn{
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0%;
    margin-top: 48px;
    padding:16px 32px;
    border-radius: 8px;
    border: none;
    background-color: red;
    color: white;
}
.artical_3_btn:hover{
    background-color: rgb(183, 11, 11);
}
.artical_4_container{
width: 1320px;
height: 463px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 120px;
}
.artical_4_text_container_1_caption{
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0%;
     color:red;
     margin-bottom: 12px;
}
.artical_4_text_container_1_title{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0%;
    margin-bottom: 12px;
}
.artical_4_text_container_1_description{
    max-width: 393px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: hsla(260, 79%, 4%, 0.600);
}
.artical_4_image_container img{
    width: 364px;
    height: 364px;
    padding: 20px;
    border: 12px solid red;
    border-radius: 999px;
}
.artical_4_text_container_2_title{
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0%;
    color: red;
    margin-bottom: 12px;
}
.artical_4_text_container_2_description{
    max-width: 276px;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
.artical_4_text_container_2 img{
    width: 100px;
    height: 100px;
}
.artical_5_images_container{
    position: relative;
}
.artical_5_text_container{
    text-align: center;
}
.artical_5_subtitle{
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0%;
    margin-bottom: 12px;
}
.artical_5_title{
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0%;
    margin-bottom: 28px;
}
.artical_5_title span{
    color: red;
}
.artical_5_description{
    max-width: 1080px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 64px;
}
.img_and_lable{
    position: relative;
    margin-left: 300px;
}
.img_and_lable img{
    border-radius: 16px;
    margin-bottom: 120px;
}
.discount_label{
    position: absolute;
    top: 30%;
    left: -80px;
    width: 206px;
    height: 206px;
    border-radius: 999px;
    border:5px solid white;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-34.2deg);
    color: white;
}
.discount_label_title{
    font-size: 72px;
    font-weight:700;
}
.discount_label_subtitle{
    font-size: 24px;
    font-weight: 900;
}
.artical_6_container{
    width: 1320px;
    margin-bottom: 120px;
}
.artical_6_subtitle{
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: red;
    margin-bottom: 16px;
}
.artical_6_title{
    font-family: "Merriweather", serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
.artical_6_description{
    max-width: 893px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 48px;
}
.image{
    width: 424px;
    height: 450px;
}
.image:hover{
    transform: scale(1.2);
    overflow: hidden;
    transition: all 1.5s;
    width: 425px;
    height: 450px;
}
.image_slot_1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.artical_7_container{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.100);
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.artical_7_title{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 22px;
}
.artical_7_description{
    max-width: 896px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.input_area{
    display: flex;
    margin-top: 47px;
    margin-bottom: 80px;
}
.input_area input{
    display: inline;
    width: 500px;
    padding: 25px 30px;
    border: none;
    border-radius: 50px 0 0 50px;
    font-size: 18px;
    font-weight: 400;
}
.input_area button{
    display: inline;
    padding: 25px 30px;
    border-radius: 0 50px 50px 0;
    border: none;
    background-color: red;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
footer{
    background-color: #070211;
    padding: 120px 140px;
    color: white;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.footer_address{
    max-width: 375px;
    font-size:24px;
    font-weight: 500;
    line-height: 40px;
}
.contact_info{
    display: flex;
    gap: 12px;
}
hr{
    opacity: 0.10;
}
.social_icons{
    padding: 48px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.copyright{
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright p{
    font-size: 24px;
    font-weight: 500;
}
.Unsubscribe_btn{
    padding: 12px 16px;
    border-radius:8px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.Unsubscribe_btn:hover{
    background-color: #383533;
}
